# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Media and static files
/media
/staticfiles

# Environment variables
.env

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Virtual environments
venv/
env/
ENV/
.venv/