<!--update the html with checkout theme from css-->
{% load static %}
<html>

<head>
    <link rel="stylesheet" href="{% static 'scanner/style.css' %}">
    <script src="{% static 'scanner/app.js' %}"></script>
    <meta charset="UTF-8" />
    <title>Checkout - grocer.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
</head>

<body>
    <div class="checkout">
        <h2>Your Order Summary</h2>
        <ul>
            <li class="item">
                <ul>Buy from us</ul>
            </li>
            {% for item, price in item_price.available.items %}
            <li class="item-name">{{ item }} : {{ price }}</li>
            {% endfor %}
            <span class="item-price"> Total Payable : ${{ item_price.total_price|floatformat:2 }}</span>
            <li class="item">
                <ul>Buy from somewhere else</ul>
            </li>
            {% for item in item_price.not_available %}
            <li class="item-name">{{ item }}</li>
            {% endfor %}
        </ul>


    </div>

</body>

</html>